.Header {
  background-color: #023047;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-shadow: 1px 1px 3px #000;
}

.Left {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  color: white;
  padding: 0.5rem 3rem;
}

.Right {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 2rem;
  gap: 2rem;
}

.Links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  color: white;
  text-decoration: none;
}

.Links p:hover {
  text-decoration: #FB8500 underline;
  cursor: pointer;
}
