.Header {
  width: 100%;
  background-color: #00b4d8;
  box-shadow: 1px 1px 5px #0077b6;
}
.Main-Header {
  width: 100%;
  padding-top: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.Sub-Header {
  width: 100%;
  height: 10px;
  padding: 0 0 18px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.Sub-Header :hover {
  text-decoration: underline;
  cursor: pointer;
}

.About-Page,
.Contact-Page,
.Update-Log {
  color: #03045e;
  text-decoration: none;
}

.Texts {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Title,
.Description {
  margin: 10px;
  color: #03045e;
}
