.homeButton {
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  cursor: pointer;
  background-color: #fb8500;
  border: none;
  border-radius: 6px;

  svg {
    padding: 0.3rem;
  }
}

.uploadButtonImg {
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: #fb8500;
  border: none;
  border-radius: 6px;

  svg {
    padding: 0.2rem;
  }
}

.uploadButton:hover {
  cursor: pointer;
}
