.Header {
  width: 100%;
  background-color: #414141;
  position: relative;
  z-index: 1;
}

.Main-Header {
  width: 100%;
  padding-top: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.Sub-Header {
  width: 100%;
  height: 10px;
  padding: 0 0 18px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.Sub-Header :hover {
  text-decoration: underline;
  cursor: pointer;
}

.About-Page,
.Contact-Page,
.Update-Log {
  color: white;
  text-decoration: none;
}

.Texts {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Title,
.Description {
  margin: 10px;
  color: #ffffff;
}

.Menu-Button {
  display: none;
}

.Mobile-Menu {
  display: none;
}

@media only screen and (max-width: 768px) {
  .Menu-Button {
    display: block;
    position: fixed;
    left: 5%;
    border: none;
    background: none;
    color: white;
    font-size: 32px;
    z-index: 1000;
  }

  .Texts h1 {
    font-size: 20px;
  }

  .Texts p {
    font-size: 14px;
  }

  .homeButton, .uploadButton {
    display: none !important;
  }

  .Main-Header {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
  }

  .Sub-Header {
    display: none !important;
  }

  .Mobile-Menu {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 100px 0 0 0;
    z-index: 999;
    transform: translateX(-100%);
    transition: all 0.3s ease-in-out;
    opacity: 0;
    visibility: hidden;
  }

  .Mobile-Menu.Open {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
  }

  .Mobile-Menu a {
    color: white;
    text-decoration: none;
    margin: 10px;
  }
}