.Accordion {
  padding-top: 1rem;
  width: 100%;
}

.Dropdown {
  background: #f0f0f0;
  color: #333;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: .325rem;
  width: 100%;
  margin: 0;
  padding: 1.125rem;
  cursor: pointer;
  text-align: left;
  border: 1px solid black;
  border-radius: .25rem;
  outline: none;
  font-size: 1rem;
  transition: all 0.3s ease-in-out;
}

.Dropdown:hover {
  background: #ddd;
}

.Accordion div {
  padding-left: 1.125rem;
  width: calc(100% - 18px);
  padding-top: 1px;
  padding-bottom: 1px;
  max-height: 100%;
  transition:
    max-height 0.2s ease-out,
    padding 0.2s ease-out;
}

.active {
  max-height: 100%;
}

.Accordion div a {
  display: block;
  color: black;
  padding: .5rem 1rem;
  text-decoration: none;
}
.caret {
  display: inline-block;
  margin-left: .325rem;
  transition: transform 0.3s ease-in-out;
}

.rotate {
  transform: rotate(90deg);
}

.File {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 4px;
  margin: .125rem 0 .125rem 1.125rem;
  padding: 0 0 0 0px !important;
  width: calc(100% - 23px) !important;
}

.Accordion .File a {
  border-radius: inherit;
  text-decoration: none;
  color: black;
}

.Accordion .File a:hover {
  cursor: pointer;
  background-color: #f0f0f0;
  text-decoration: underline;
}

@media only screen and (max-width: 768px) {
  .Accordion div {
    padding-left: 4px;
    width: calc(100% - 4px);
  }
}
