body, html {
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

.App-header {
  background-color: #414141;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.Title {
  color: #ffffff;
}

.icon-grid {
  padding: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 100px;
  border: 1px, #000000;
}

.icon-grid .unitLink {
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #000000;
}

.icon-grid .unitLink :hover {
  background-color: #dddddd;
}

.units {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.units button {
  border-radius: 4px;
  border-color: #000000;
  padding: 5px 20px;
}

.units button:hover {
  background-color: #6e6e6e;
  border-radius: 4px;
}