body, html, .App {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App-header {
  background-color: #414141;
  display: flex; /* This will make the items align side by side */
  align-items: center; /* This will align the items vertically in the center */
  justify-content: space-between; /* This will distribute the remaining space evenly between the items */
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 25px;
  padding-bottom: 25px;
}

.Title {
  color: #ffffff;
}

.icon-grid {
  padding-top: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  border: 1px, #000000;
}

.icon-grid a {
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-grid a img {
  border: 1px solid #000000;
}