.back-button {
  background-color: #e9edc9;
  border: none;
  color: #606c38;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 2px 1px;
  cursor: pointer;
  border-radius: 12px;
  transition: all 0.3s ease-in-out;
}

.back-button:hover {
  background-color: #ccd5ae;
  color: #283618;
}
