.back-button {
  background-color: #90e0ef;
  border: 1px solid #03045e;
  color: #606c38;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 2px 1px;
  cursor: pointer;
  border-radius: 12px;
  transition: all 0.3s ease-in-out;
}

.back-button:hover {
  background-color: #48cae4;
  color: #283618;
}
