.Content {
  margin: 0px 0px 50px 0px;
}

.Courses {
  padding: 40px 60px;
}

.Courses .icon-grid {
  padding: 10px 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 100px;
}

.icon-grid .courses {
  position: relative;
  width: 75%; 
  display: flex;
  flex-direction: row;
  justify-content: flex-end; 
  align-items: center;
  gap: 20px;
  z-index: 0;
  transition: all 0.3s ease-in-out;
}

.bundle {
  display: flex;
  flex-direction: row;
}

.gradient-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, black, transparent);
  z-index: 1;
  border-radius: 1.5rem;
  pointer-events: none;
}

.icon-grid .courseLink {
  width: 240px;
  height: 240px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 12px;
  overflow: hidden;
}

.icon-grid .courses:hover {
  cursor: pointer;
  transform: scale(1.02);
}

.coverimage {
  width: 100%;
  height: 400px;
  object-fit: cover;
  position: relative;
}

@media only screen and (max-width: 768px) {
  .Courses .icon-grid {
    grid-template-columns: repeat(1, 1fr);
    gap: 35px;
    align-items: center;
    justify-content: center;
  }

  .icon-grid .courses {
    gap: 10px;
  }
}
