.Search-button {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  cursor: pointer;
}
  
.Search-button-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}